/* ManagerComponent.css */
.manager-container {
  /* display: flex; */
  flex-direction: column;
  /* align-items: right; */
  /* background-color: #f0f4f8; */
  padding: 30px;
  margin-top: 12%;
}
    /* /* margin-top: 15%; */
    /* width: 139%;
    height: inherit;
    margin-right: right; */ */
  
  
  .manager-header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .campaspic {
    width: 1600px;
    height: 610px;
    /* border-radius: 5%; */
    margin-bottom: 20px;
    margin-right: 20%;
  }
  
  .managing-committee {
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .committee-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #d32f2f;
  }
  
  .pencil-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .manager-details {
    display: flex;
    margin-top: 20px;
  }
  
  .mangermaim {
    width: 320px;
    height: 250px;
    margin-right: 20px;
  }
  
  .manager-info {
    flex: 1;
  }
  
  .manager-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333333;
  }
  
  .manager-name {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .manager-title {
    font-style: italic;
    color: #555555;
  }
  
  .manager-description {
    margin: 10px 0;
    line-height: 1.6;
    color: #444444;
  }
 
  