body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  /* padding: 20px 0; */
  position: absolute;
  top: 54%;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section .social-media a {
  display: inline-block;
  margin-right: 10px;
}

.footer-section img {
  width: 60px;
  margin-left: 15px;
  /* height: 10px; */
}

.footer-bottom {
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}
