nav{
  width: 100%;
  background: #333;
  color:#ea1515;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

}

.logo{
  width : 180px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px 25px;
  margin-top: 18px;
  margin-bottom: 0px;
  font-size: 16px;
}

.dark-nav{
  background: #212EA0;
  transition: 0.5s;
}

.menu-icon{
  display:none;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: auto;
  cursor: pointer;
  font-size: 18px;
}

.containerx{
  /* padding-left: 10%;
  padding-right: 10%; */
  position: absolute;
  top: 25%;
}

.btn{
  border-radius: 25px;
  color:#f7eeee ;
  background: #030000;
  padding: 14px 25px;
  font-size: 13px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: -5px;
  height: 35px;
}
.container{
  /* padding-left: 10%;
  padding-right: 10%; */
  position: absolute;
  top: 27%;
}

ul.hide-mobile-menu{
  margin-left: 20px;
  height: 15px;
}

.hide-mobile-menu a{
  border-radius:15px;
  /* padding: 3px; */
  margin: left;
  display: flex;
}



/* ------------------@media query--------------------- */


@media(max-width:1000px){
  .logo{
    width: 140px;
  }
  nav ul li{
    margin: 10px 15px;
  }
}

@media(max-width:840px){
  nav{
    padding: 15px 0;
  }
  nav ul{
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
    bottom: 0;
    background-color: #212EA0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px 40px;
  }
  nav ul li a{
    font-size: 20px;
  }
  .menu-icon{
    display: block;
    width: 45px;
  }
  .hide-mobile-menu{
    right: -200px;
  }
}
