html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}


#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.urslogo {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 120px;
  cursor: pointer;
}

/* .logoenglishname {
  margin: 0;
  position: absolute;
  left: 14%;
}
.logohindiname{
  margin: 0;
  position: absolute;
  left: 14%;
  top: 21%;
}
.logohindaddress{
  margin: 0;
  position: absolute;
  left: 14%;
  top: 27%;
}
.logotagname{
  margin: 0;
  position: absolute;
  left: 14%;
  top: 27%;
} */

.head {
  display: flex;
  align-items: center;
}

.urslogo {
  height: 110px; /* Adjust the height as needed */
  margin-right: 20px;
}

.logonamesection {
  font-size: large;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4%;
  left: 14%;
}

.logoname {
  margin: 0; /* Remove default margins */
}

.logoenglishname {
  margin-bottom: 5px; /* Adjust spacing as needed */
  font-size: 30px;
}

.logohindiname, .logohindaddress {
  color: #b75906;
  margin: 0; /* Ensure no extra margins */
}

.logosubtitle {
  color: #b75906;
  font-size: 15px;
}

.logotagname {
  color: #000;
  margin-top: 5px; /* Adjust spacing as needed */
  text-align: left;
}

.logohindiname, .logohindiaddress{
  text-align: left;
  font-size:10px;
}

.logohindiname, .logohindaddress {
  color: #b75906;
  margin: 0;
  text-align: left;
  font-size: 19px;
}

.social-media-links{
  display: flex;
  position: absolute;
  top: 5%;
  left: 71%;
}
.social-media-links img{
  width:50px;
  display: flex;
  margin: 15px;
}

.App {
  width: 168%;
    left: -34%;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Query for screens with width less than or equal to 1292px */
@media (max-width: 1250px) {
  .logonamesection {
    left: 22%;
  }
}
@media (max-width: 714px) {
  .logonamesection {
    left: 28%;
    font-size: 13px;
    top:8%;
  }
}
@media (max-width: 1224px) {
  .social-media-links .fb{
     display:none;
 
  }
  .social-media-links .ig{
     display:none;
 
  }
  /* .social-media-links .ln{
    position: absolute;
    align-items: right;
 
  }
  .social-media-links {
    position: absolute;
     align-items: right;
 
  } */
  .social-media-links img {
    margin-left:25px ;
  }
}
@media (max-width:1px){
  .social-media-links {
    display:none;

 }
}



